/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset */

:root {
  --selected-color: rgb(37, 123, 244);
}

body {
  font-family: Verdana, sans-serif;
}
h4 {
  font-weight: bold;
  font-size: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}
button {
  background-color: rgb(225, 225, 225);
  border: 1px solid #676767;
  padding: 7px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75em;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0.3em;
}
.slider {
  -webkit-appearance: none;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  border-radius: 2em;
  /* opacity: 0.7; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 27px;
  height: 27px;
  border-radius: 2em;
  background: var(--selected-color);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 27px;
  height: 27px;
  border-radius: 2em;
  background: var(--selected-color);
  cursor: pointer;
}

.selected-radio {
  background-color: var(--selected-color);
  color: aliceblue;
}
.hidden {
  display: none;
}
.number {
  font-size: 1.1em;
}
.content-container {
  max-width: 600px;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}
.content {
  margin-bottom: 0.7em;
}
.section {
  padding: 0.7em;
  padding-top: 0.1em;
  border: 2px solid rgb(84, 79, 79);
  margin-bottom: 1em;
}
.radio-btn-container {
  display: flex;
}

.pre-work-controls,
.im-sessions-controls,
.iv-sessions-controls,
.sub-sessions-controls,
.medicine-admin,
.medicine-type-controls,
.im-integration-controls,
.sub-integration-controls,
.iv-integration-controls {
  display: flex;
  justify-content: space-between;
}
.iv-info,
.im-info,
.sub-info {
  display: flex;
  justify-content: space-between;
}
.check-box {
  cursor: pointer;
  height: 23px;
  width: 23px;
  border: 1px solid #676767;
  border-radius: 4px;
  font-size: 1.5em;
  position: relative;
}
.option-checkmark {
  left: 1px;
  position: absolute;
}
.calc-display {
  display: flex;
  justify-content: space-around;
}
.option-controls {
  display: flex;
  justify-content: space-evenly;
}
#pre-work-input,
#im-sessions-input,
#im-integration-input,
#iv-sessions-input,
#iv-integration-input {
  max-width: 110px;
}
#KAP-header {
  font-size: 1.7em;
  margin-bottom: 0.5em;
}
