/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset */

body {
  font-family: Verdana, sans-serif;
}
h4 {
  font-weight: bold;
  font-size: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}
button {
  background-color: rgb(215, 238, 252);
  border: 1px solid #676767;
  padding: 6px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selected-radio {
  background-color: rgb(106, 216, 250);
}

.hidden {
  display: none;
}
.number {
  font-size: 1.1em;
}
.content-container {
  max-width: 600px;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}
.content {
  margin-bottom: 0.7em;
}
.section {
  padding: 0.7em;
  padding-top: 0.1em;
  border: 2px solid rgb(84, 79, 79);
  margin-bottom: 1em;
}
.radio-btn-container {
  display: flex;
}
.pre-work-controls,
.im-sessions-controls,
.iv-sessions-controls,
.medicine-admin,
.medicine-type-controls,
.im-integration-controls,
.iv-integration-controls {
  display: flex;
  justify-content: space-between;
}
 {
  display: flex;
  justify-content: space-between;
}
.iv-info,
.im-info {
  display: flex;
  justify-content: space-between;
}
#pre-work-input,
#im-sessions-input,
#im-integration-input {
  max-width: 75px;
}
#KAP-header {
  font-size: 1.7em;
  margin-bottom: 0.5em;
}
